@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  text-rendering: optimizeLegibility;
  font-family: "Roboto", sans-serif;
  margin-inline: 10%;
  /* color: rgb(122, 122, 122); */
}
h2 {
  color: black;
}
.container {
  padding-block: 2%;
  display: flex;
  justify-content: space-between;
}
.logo img {
  width: 30%;
  align-self: center;
}
.navbar {
  display: flex;
  align-items: center;
  gap: 20px;
}
.resume {
  border: solid 2px #f2f2f2;
  border-radius: 20px;
  padding: 10px;
}
.profile {
  padding: 8px 8px;
  background-color: red;
  font-size: 15pt;
  border-radius: 50%;
  color: white;
  width: 23px;
  height: 23px;
  text-align: center;
}
ion-icon {
  font-size: 16pt;
  color: rgb(149, 149, 149);
}
.bold {
  font-weight: bold;
}
.pagina {
  display: flex;
}
.colonna-destra,
.colonna-sinistra {
  padding-top: 20px;
}
.colonna-destra {
  display: flex;
  width: 30%;
  flex-direction: column;
}
.colonna-sinistra {
  width: 70%;
  border-right: 1px solid lightgray;
}
.following {
  border-bottom: 1px solid lightgray;
  margin-block: 30px;
  margin-right: 40px;
}
.recommended {
  margin-bottom: 0;
  margin-left: 5%;
  font-weight: bold;
  border-bottom: 3px solid black;
}
.immagini {
  display: flex;
  align-items: center;
  justify-content: center;
}
.twitter,
.button-twitter img {
  width: 6%;
}
.medium {
  width: 100px;
  object-fit: cover;
  overflow: hidden;
}
.card {
  margin-block: 60px;
  margin-right: 100px;
}
.testata img {
  width: 3%;
}
.testata {
  display: flex;
  align-items: center;
  color: black;
  flex-wrap: wrap;
}
.notizia {
  display: flex;
  padding-bottom: 10px;
}
.sottomenu {
  display: flex;
  margin-top: 30px;
  font-size: small;
  gap: 10px;
}
.button {
  background-color: #f2f2f2;
  border-radius: 30px;
  padding-inline: 4px;
  color: black;
  display: flex;
  align-items: center;
}
.icon {
  display: flex;
  color: black;
  cursor: pointer;
}
.text {
  display: flex;
  flex-direction: column;
  padding-top: 5px;
  color: rgb(122, 122, 122);
}
.preview {
  display: flex;
  margin-left: 30px;
}
.preview img {
  width: 280px;
  height: 200px;
}

#container2 {
  display: flex;
  flex-direction: column;
  margin-inline: 15%;
}
.connect {
  display: flex;
  flex-direction: column;
}
