body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: black;
}

h2 {
  color: black;
}

.container {
  padding: 1% 10%;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px -4px 11px 7px rgba(0, 0, 0, 0.07);
}

.logo img {
  width: 30%;
  align-self: center;
}

.navbar {
  display: flex;
  align-items: center;
  gap: 20px;
}

.resume {
  display: flex;
  border: solid 1px rgb(122, 122, 122);
  border-radius: 50px;
  width: 19vh;
  height: 3.5vh;
  justify-content: center;
  align-items: center;
}

.profile {
  padding: 8px 8px;
  background-color: red;
  font-size: 15pt;
  border-radius: 50%;
  color: white;
  width: 23px;
  height: 23px;
  text-align: center;
}

ion-icon {
  font-size: 16pt;
  color: rgb(122, 122, 122);
}

.bold {
  font-weight: bold;
}

.pagina {
  display: flex;
  margin: 0 10%;
}

.colonna-destra,
.colonna-sinistra {
  padding-top: 20px;
}
.column {
  display: flex;
  flex-direction: column;
}
.colonna-destra {
  width: 30%;
  margin-inline: 5%;
  position: sticky;
  top: 0;
  max-height: 200vh;
  overflow: hidden;
}

.colonna-sinistra {
  width: 70%;
  border-right: 1px solid lightgray;
}

.following {
  border-bottom: 1px solid lightgray;
  margin-top: 30px;
  display: flex;
  align-items: center;
  padding-bottom: 15px;
  gap: 20px;
  color: rgb(122, 122, 122);
}

.recommended {
  font-weight: bold;
  transition: color 0.3s ease;
}

.recommended:hover {
  color: black;
}

.immagini {
  display: flex;
  align-items: center;
  justify-content: center;
}

.twitter,
.button-twitter img {
  width: 10%;
}
.immagini img {
  width: 30px;
  object-fit: cover;
  overflow: hidden;
}

.card {
  margin-block: 60px;
  margin-right: 100px;
}

.testata img {
  width: 20px;
}

.testata {
  display: flex;
  align-items: center;
  color: black;
  flex-wrap: wrap;
}

.notizia {
  display: flex;
  padding-bottom: 10px;
  justify-content: space-between;
}

.sottomenu {
  display: flex;
  margin-top: 30px;
  font-size: small;
  gap: 10px;
  align-items: center;
}

.button {
  background-color: #f2f2f2;
  border-radius: 30px;
  padding-inline: 4px;
  color: black;
  display: flex;
  align-items: center;
}

.icon {
  display: flex;
  color: black;
  cursor: pointer;
}

.text {
  padding-top: 5px;
  color: rgb(122, 122, 122);
}

.preview {
  display: flex;
}

.preview img {
  width: 280px;
  height: 200px;
}

.container2 {
  margin-inline: 8%;
  gap: 20px;
  align-items: center;
  padding-bottom: 10%;
}

.connect {
  text-align: center;
}

.button-twitter {
  width: 22vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid lightgray;
  border-radius: 50px;
  padding: 10px;
  gap: 10px;
}

a {
  color: rgb(122, 122, 122);
}

.container3 {
  border-top: 1px solid lightgray;
  padding-top: 20px;
  margin-bottom: 20px;
}

.topics {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-block: 8%;
}

.topic {
  padding: 10px 20px;
  background-color: rgb(242, 242, 242);
  border-radius: 300px;
}

.utenti {
  margin-top: 8px;
}

.cards {
  display: flex;
  align-items: center;
  gap: 20px;
}

.name {
  margin: 0;
}

.profession {
  display: flex;
  gap: 20px;
  padding-top: 5px;
  color: rgb(122, 122, 122);
}

.follow {
  border: solid 1px black;
  border-radius: 30px;
  padding: 10px 20px;
}

.gray {
  color: lightgray;
}

.bold {
  font-weight: bold;
}

.titolo {
  margin-bottom: 0.83em;
}

.data {
  display: flex;
  align-items: center;
  margin-bottom: 10%;
}

ul {
  margin: 0;
}
.help {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px 20px;
  color: rgb(116, 117, 117);
  cursor: pointer;
}
.container4 {
  margin-bottom: 25%;
}
